body,html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato",sans-serif;;
  font-weight: 400;
  color: #666;

}


.B{
font-weight: bold;
font-family: arial;
display: inline;
opacity: 0.85;
text-align: center;
border: thick solid red;
position: absolute;
 top: 110px;
 left: 450px;
  font-size: 150px;
margin-top: 20px;
color:black;
margin-bottom: 0;

}


.pimg1, .pimg2{
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.pimg1{
  background-image:url(B9.jpeg);
  min-height: 100%;
}

.pimg2{
  background-image:url(B10.jpeg);
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.ptext{
  position: absolute;
  opacity: 0.9;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
@media(max-width:568px){
  .pimg1,.pimg2{
    background-attachment:scroll;
  }
  }
@media (max-width:568px) {.B{
  text-align: center;
  left: 50px;
}

  }

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
transition: background .5s;
}
.btn:hover {
  background: #b71c1c  ;
  cursor:crosshair;
  transition: background .5s;
}
